
:root {
  --heading-color: #f14e32;
  --text-color: black;
  --synopsis-background-color: #e8e7dd;
  --argument-color: #4e443c;
  --argument-description-color: #4e443c;
  --argument-description-font: "Roboto Slab", "DejaVu Serif", "Georgia", "Times New Roman", sans-serif;
  --consolas: "Lucida Console", "Courier New", monospace;
  --argument-font: Courier, monospace;
  --code-background-color: #fff;
  --code-color: #f14e32;
  --code-font: Courier, monospace;
}
