
:root {
  --heading-color: #f14e32;
  --text-color: black;
  --synopsis-background-color: #e8e7dd;
  --argument-color: #4e443c;
  --argument-description-color: black;
  --consolas: "Lucida Console", "Courier New", monospace;
}
